<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735024049966-imgdi6eh9bg5p2v7s77urb12vdfcqabb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735024049966-imgdi6eh9bg5p2v7s77urb12vdfcqabb</string>
	<key>API_KEY</key>
	<string>AIzaSyCVWWa-RnuY7QTiJjYAVXBjz9tvGpns4-I</string>
	<key>GCM_SENDER_ID</key>
	<string>735024049966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SPrestamos</string>
	<key>PROJECT_ID</key>
	<string>sprestamos-97877</string>
	<key>STORAGE_BUCKET</key>
	<string>sprestamos-97877.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735024049966:ios:415bc23d7e4f820b9394bf</string>
	<key>DATABASE_URL</key>
	<string>https://sprestamos-97877.firebaseio.com</string>
</dict>
</plist>