<ion-header translucent>
<ion-toolbar color="tertiary">
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">Cerrar</ion-button>
  </ion-buttons>
  <ion-title>Informacion Prestamo</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-item class="w-100">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>Cliente</ion-label>
              <ion-select name="customer" placeholder="Cliente" formControlName="customer" readonly="true">
                <ion-select-option [value]="customerId">
                  {{loan.customerId}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-card class="w-100">
              <ion-card-content>
                <ion-row>
                  <ion-col size="7">
                    <ion-item>
                      <ion-label position="floating">Monto $<ion-text color="danger">*</ion-text>
                      </ion-label>
                      <ion-input formControlName="loanAmount" type="text" readonly="true"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="5">
                    <ion-item class="w-100">
                      <ion-label position="floating">%Interes<ion-text color="danger">*</ion-text>
                      </ion-label>
                      <ion-input formControlName="interestRate" type="text" readonly="true"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-row>
          <ion-row>
            <ion-item class="w-100">
              <ion-label>Inicio Prestamo</ion-label>
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-datetime formControlName="initialDate" min="1990-01-01" [max]="loanTerm.value" displayFormat="DDD. MMM DD, YY" readonly="true">
              </ion-datetime>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item class="w-100">
              <ion-label>Final Prestamo</ion-label>
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-datetime formControlName="loanTerm" [min]="initialDate.value" [max]="maxDate" displayFormat="DDD. MMM DD, YY" readonly="true">
              </ion-datetime>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-card class="w-100">
              <ion-card-content>
                <ion-row>
                  <ion-col>
                    <ion-item class="w-100">
                      <ion-label>Pagos</ion-label>
                      <ion-select name="payBack" formControlName="payBack" placeholder="Pagos" readonly="true">
                        <ion-select-option [value]="loan.payBack">
                          {{loan.payBack}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button size="large" expand="block" color="tertiary" type="button"  (click)="showDetails()">
                Ver Detalles
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
  </ion-content>