<app-toolbar [title]="'Generar Prestamo'"></app-toolbar>
<ion-content class="ion-padding">
  <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-item class="w-100">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Cliente</ion-label>
          <ion-select name="customer" placeholder="Cliente" required>
            <ion-select-option>
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>      
      <ion-row>
        <ion-card class="w-100">
          <ion-card-content>
            <ion-row>
            <ion-col size="7">
              <ion-item>
                <ion-label position="floating">Monto $<ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required formControlName="name" type="text" clearInput></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="5">
              <ion-item class="w-100">
                <ion-label position="floating">% Interes<ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required formControlName="noDocument" type="text" clearInput></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row>
          <ion-item class="w-100">
              <ion-label>Inicio Prestamo</ion-label>
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-datetime value="1995-04-15" min="1990-02"
                [dayShortNames]="customDayShortNames"
                displayFormat="DDD. MMM DD, YY"
                monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"></ion-datetime>
            </ion-item>
      </ion-row>
      <ion-row>
      <ion-card class="w-100">
        <ion-card-content>
          <ion-row>
          <ion-col>
              <ion-item class="w-100">
                  <ion-label>Terminos</ion-label>
                  <ion-select name="loanTerms" placeholder="Terminos" required>
                    <ion-select-option>
                    </ion-select-option>
                  </ion-select>
                </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-item class="w-100">
                  <ion-label>Pagos</ion-label>
                  <ion-select name="payBack" placeholder="Pagos" required>
                    <ion-select-option>
                    </ion-select-option>
                  </ion-select>
                </ion-item>
          </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="large" expand="block" color="tertiary" type="submit" [disabled]="loanForm.invalid">
            Generar Prestamo
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>