<app-toolbar [title]="'Generar Prestamo'"></app-toolbar>
<ion-content class="ion-padding">
  <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-item class="w-100">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Cliente</ion-label>
          <ion-select name="customer" placeholder="Cliente" formControlName="customer" required>
            <ion-select-option *ngFor="let customer of customers" [value]="customer">
              {{customer.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-card class="w-100">
          <ion-card-content>
            <ion-row>
              <ion-col size="7">
                <ion-item>
                  <ion-label position="floating">Monto $<ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input required formControlName="loanAmount" type="text" clearInput></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="5">
                <ion-item class="w-100">
                  <ion-label position="floating">%Interes<ion-text color="danger">*</ion-text>
                  </ion-label>
                  <ion-input required formControlName="interestRate" type="text" clearInput></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-item class="w-100">
          <ion-label>Inicio Prestamo</ion-label>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-datetime formControlName="initialDate" min="1990-01-01" [max]="loanTerm.value" displayFormat="DDD. MMM DD, YY" required>
          </ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="w-100">
          <ion-label>Final Prestamo</ion-label>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-datetime formControlName="loanTerm" [min]="initialDate.value" [max]="maxDate" displayFormat="DDD. MMM DD, YY" required>
            
          </ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-card class="w-100">
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-item class="w-100">
                  <ion-label>Pagos</ion-label>
                  <ion-select name="payBack" formControlName="payBack" placeholder="Pagos" required>
                    <ion-select-option *ngFor="let payback of payBacks" [value]="payback">
                      {{payback}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="large" expand="block" color="tertiary" type="submit" [disabled]="loanForm.invalid">
            Generar Prestamo
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>