<ion-content class="background">  
  <ion-grid class="h-100">
    <ion-row class="ion-justify-content-center ion-padding h-100">
      <ion-col class="ion-align-self-center" size-xl="3" size-md="6" size-lg="4" size-xs="12">
        <ion-card class="bg-white-transp">
          <ion-card-header>
            <ion-card-title>
              <div class="ion-text-center">
                <h3>Restrablecer la contraseña </h3>
                <p class="ion-text-md-center">Favor indicar el correo de la cuenta que desea cambiar la contraseña</p>                
              </div>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
              <ion-item>
                <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
                <ion-input required formControlName="email" type="email" clearInput></ion-input>
                <ion-icon class="custom-margin-top-1" name="mail" slot="start"></ion-icon>
              </ion-item>
              <ion-item *ngIf="email.invalid && email.touched" lines="none">
                <ion-text color="danger" class="form-error">
                  Favor de ingresar un email valido.
                </ion-text>
              </ion-item>
              <ion-button class="ion-margin-top" color="tertiary" type="submit" expand="block"  [disabled]="!emailForm.valid">
                Restablecer contraseña
                <ion-icon name="send"></ion-icon>
                </ion-button>
            </form>  
            <ion-button color="light" type="button" expand="block" [routerLink]="['/login']" >
              <ion-icon name="arrow-round-back"></ion-icon>
               Regresar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
  </ion-content>
