<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="customers">
      <ion-icon name="people"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loans-display">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Prestamos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="light">
      <img class="fab-icon" src="./../../assets/icon/add-purple.png">
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button routerLink="/tabs/loan-generator" data-desc="Generar Prestamo"><ion-icon name="archive"></ion-icon></ion-fab-button>      
      <ion-fab-button routerLink="/tabs/loans-history" data-desc="Historico Prestamos"><ion-icon name="filing"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/tabs/calculator" data-desc="Calculadora"> <ion-icon name="calculator"></ion-icon></ion-fab-button>  
      <ion-fab-button (click)="logOut()" data-desc="Cerrar Sesion"> <ion-icon name="log-out"></ion-icon></ion-fab-button>    
    </ion-fab-list>
</ion-fab>
