<app-toolbar [title]="'Clientes'"></app-toolbar>
<ion-content class="ion-padding">
  <app-payment-card-button *ngIf=!verifiedUser [loansLeft]="limitLoans"></app-payment-card-button>
  <app-filter (filter)="onFilter($event)"></app-filter>
    <ion-list class="ion-no-padding" *ngFor="let customer of customers">
      <ion-item-sliding>
        <ion-item>
          <ion-icon name="contact" slot="start"></ion-icon>
          {{ customer.name }}
          <div class="item-note" slot="end">
            {{ customer.phone }}
          </div>
        </ion-item>      
        <ion-item-options side="end">
          <ion-item-option (click)="presentUpdateModal(customer)" color="primary">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="deleteCustomer(customer)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteEvent($event)" *ngIf="!infiniteScrolldisabled">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-item color="light" *ngIf="infiniteScrolldisabled">
    <ion-label class="ion-text-center">
      No hay mas datos...
    </ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAddModal()" color="tertiary">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>