<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>Realizar pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="h-100">
    <ion-row class="ion-justify-content-center h-100 ion-align-items-center">
      <ion-col>
      <ion-row >
        <ion-col class="ion-align-self-center" size-xl="3" size-md="6" size-lg="4" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle><p class="ion-text-start">Monto Total</p></ion-card-subtitle>
          <ion-card-title><p class="ion-text-end"><b>$20.00</b></p></ion-card-title>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item class="w-100 ion-text-center">
          <ion-label>
            Metodos de pago
          </ion-label>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center" size-xl="3" size-md="6" size-lg="4" size-xs="12">
          <div #paypalButton></div>
        </ion-col>
      </ion-row>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>